* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 16px;
	}

body {
	background-color: rgb(240, 240, 240);
	font-family: sans-serif;
	}

footer {
	color: rgba(0, 0, 0, .4);
	}

footer a:link {
	color: rgba(64, 0, 128, 0.4);
	text-decoration: none;
	}

footer a:hover {
	color: rgba(64, 0, 128, 0.4);
	text-decoration: none;
	}

footer a:visited {
	color: rgba(64, 0, 128, 0.4);
	text-decoration: none;
	}

footer div:first-child {
	margin: 0 auto 1rem;
	max-width: 35rem;
	padding: .5rem;
	}

h1 {
	font-family: monospace;
	font-size: 3rem;
	margin-top: 1rem;
	}

header {
	background-color: rgb(127, 0, 255);
	color: rgb(255, 255, 255);
	}

header div:first-child {
	margin: 0 auto;
	max-width: 35rem;
	padding: .5rem;
	}

header div:first-child p {
	margin-top: 1em;
	margin-bottom: 1rem;
	}


/* -- Animations -- */

@-webkit-keyframes warn {
	0% { background-color: rgb(255, 255, 255); }
	1% { background-color: rgb(255, 255, 0); }
	100% { background-color: rgb(255, 255, 255); }
	}

@keyframes warn {
	0% { background-color: rgb(255, 255, 255); }
	1% { background-color: rgb(255, 255, 0); }
	100% { background-color: rgb(255, 255, 255); }
	}

/* animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 * Copyright (c) 2016 Daniel Eden */

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 60%, 90% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  45%, 75% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 60%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  45%, 75% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* -- Classes -- */

.animate {
	-webkit-animation: tada 800ms linear both, warn 1000ms linear both;
	animation: tada 800ms linear both, warn 1000ms linear both;
	}


/* -- IDs -- */

#data {
	margin: 0 auto;
	max-width: 35rem;
	padding: .5rem;
	}

#ciphertext, #key, #plaintext {
	outline: none;
	margin-top: 1rem;
	padding: .5rem;
	}

#ciphertext, #plaintext {
	font-size: 1.2rem;
	height: 15rem;
	width: 100%;
	}

#ciphertext {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: monospace;
	/*font-size: 1rem;*/
	}

#key {
	font-family: sans-serif;
	font-size: 2rem;
	width: 100%;
	}

#plaintext {
	font-family: sans-serif;
	/*font-size: 1.2rem;*/
	}
