* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 16px;
	}

body {
	background-color: rgb(240, 240, 240);
	font-family: sans-serif;
	}

h1 {
	font-size: 3rem;
	margin-top: 1rem;
	}

header {
	background-color: #7f00ff;
	color: rgb(255, 255, 255);
	}

header div:first-child {
	margin: 0 auto;
	max-width: 35rem;
	padding: .5rem;
	}

p {
	margin-top: 1em;
	margin-bottom: 1rem;
	}


/* -- IDs -- */

#data {
	margin: 0 auto;
	max-width: 35rem;
	padding: .5rem;
	}

#ciphertext, #key, #plaintext {
	outline: none;
	margin-top: 1rem;
	padding: .5rem;
	}

#ciphertext, #plaintext {
	height: 15rem;
	width: 100%;
	}

#ciphertext {
	font-family: monospace;
	font-size: .8rem;
	/*text-transform: uppercase;*/
	}

#key {
	font-family: sans-serif;
	font-size: 2rem;
	width: 100%;
	}

#plaintext {
	font-family: sans-serif;
	font-size: 1.2rem;
	}

#warning {
	background-color: #43d58c;
	color: rgb(255, 255, 255);
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	}

#warning div {
	margin: 0 auto;
	max-width: 35rem;
	padding: .5rem;
	}

#warning div p {
	font-family: sans-serif;
	font-size: 2rem;
	margin-top: 8rem;
	width: 100%;
	}


/* -- Classes -- */

@-webkit-keyframes warn {
	0% { background-color: rgb(255, 255, 255); }
	1% { background-color: rgb(255, 255, 0); }
	100% { background-color: rgb(255, 255, 255); }
	}

@keyframes warn {
	0% { background-color: rgb(255, 255, 255); }
	1% { background-color: rgb(255, 255, 0); }
	100% { background-color: rgb(255, 255, 255); }
	}

.warn {
	-webkit-animation-name: warn;
	animation-name: warn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	}
